@model DataBVTA.Models.ViewModels.DanhSachDangKyKhamBenh
<!-- /.row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title head-text">Danh sách đăng ký khám chữa bệnh</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <form asp-controller="CoXuongKhop" asp-action="TongQuanKhamBenh">
                            <div class="form-group row">
                                <label for="PhongKham" class="col-form-label col-auto">Phòng khám:</label>
                                <div class="col-5">
                                    <select class="form-control" id="PhongKham" name="PhongKham" asp-items="@Model.PhongKham">
                                    </select>
                                </div>
                                <button type="button" class="btn btn-info ml-5" id="searchKCB">Tìm kiếm</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                </div>
                <table class="table table-bordered table-hover text-nowrap" id="dangKyKCBTable">
                    <thead class="thead">
                        <tr>
                            <th>STT</th>
                            <th>Phòng khám</th>
                            <th>Tổng số</th>
                            <th>Chưa khám</th>
                            <th>CLS</th>
                            <th>Chờ kết quả</th>
                            <th>Đã khám</th>
                        </tr>
                    </thead>
                    @*<tbody>
                        @if (Model.DanhSachChoKham != null && Model.DanhSachChoKham.Count > 0)
                        {
                            foreach (var item in Model.DanhSachChoKham)
                            {
                                <tr>
                                    <td>@item.stt</td>
                                    <td>@item.tenphongkham</td>
                                    <td>@item.tongso</td>
                                    <td>@item.chuakham</td>
                                    <td>@item.cls</td>
                                    <td>@item.coketqua</td>
                                    <td>@item.dakham</td>
                                </tr>
                            }
                        }
                    </tbody>*@
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
